<div ng-include="'components/shell/shell.html'"></div>
<md-content class="md-padding">
    <md-card class="login-card">
        <md-card-content>
            <h2 layout="row" layout-align="center center">Change Password</h2>
            <form name="changePasswordForm" ng-submit="changePassword(changePasswordForm)" novalidate>
                <md-input-container class="md-icon-float md-block">
                    <label>Old Password</label>
                    <md-icon class="md-primary" md-font-set="fa fa-lg fa-fw fa-lock m-t-5"></md-icon>
                    <input type="password" name="oldPassword" ng-model="user.oldPassword" required>

                    <div ng-messages="changePasswordForm.oldPassword.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-icon-float md-block">
                    <label>New Password</label>
                    <md-icon class="md-primary" md-font-set="fa fa-lg fa-fw fa-lock m-t-5"></md-icon>
                    <input type="password" name="newPassword" class="form-control"
                           ng-model="user.newPassword" ng-minlength="3" required/>


                    <div ng-messages="changePasswordForm.newPassword.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <div layout="row">
                    <md-button class="md-raised md-primary" type="submit">Save changes</md-button>
                </div>
            </form>
        </md-card-content>
    </md-card>
</md-content>
<!--<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Change Password</h1>
        </div>
        <div class="col-sm-12">
            <form class="form" name="form" ng-submit="changePassword(form)" novalidate>

                <div class="form-group">
                    <label>Current Password</label>

                    <input type="password" name="password" class="form-control" ng-model="user.oldPassword"
                           mongoose-error/>

                    <p class="help-block" ng-show="form.password.$error.mongoose">
                        {{ errors.other }}
                    </p>
                </div>

                <div class="form-group">
                    <label>New Password</label>

                    <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword"
                           ng-minlength="3"
                           required/>

                    <p class="help-block"
                       ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
                        Password must be at least 3 characters.
                    </p>
                </div>

                <p class="help-block"> {{ message }} </p>

                <button class="btn btn-lg btn-primary" type="submit">Save changes</button>
            </form>
        </div>
    </div>
</div>-->
