<div ng-controller="ShellCtrl" class="main-shell">
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
        <md-toolbar class="md-tall md-accent">

            <div ng-if="isLoggedIn()" layout="column" layout-padding class="profile-container">
                <div flex></div>
                <div layout-padding layout="column">
                    <div class="profile-name">{{ getCurrentUser().name }}</div>
                    <div class="profile-email">{{ getCurrentUser().email }}</div>
                </div>
            </div>

        </md-toolbar>
        <md-content layout-padding>

        </md-content>
    </md-sidenav>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button ng-click="toggleLeft()" class="md-icon-button" aria-label="Settings"  ng-if="isLoggedIn()">
                <md-icon md-svg-icon="assets/icons/menu.svg"></md-icon>
            </md-button>
            <h2 ui-sref="main"><a href="javascript:void(0);">Medsmind</a></h2>
            <span flex=""></span>
            <md-button ui-sref="login" ng-hide="isLoggedIn()">
                <md-icon md-font-set="fa fa-lg fa-fw fa-sign-in"></md-icon>
                Login
            </md-button>
            <md-menu ng-if="isLoggedIn()">
                <md-button aria-label="Open phone interactions menu" class="md-icon-button"
                           ng-click="openMenu($mdOpenMenu, $event)">
                    <md-icon md-font-set="fa fa-lg fa-fw fa-ellipsis-v m-t-5"></md-icon>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button>
                            <md-icon md-font-set="fa fa-lg fa-fw fa-cog"></md-icon>
                            Settings
                        </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item ng-show="isLoggedIn()">
                        <md-button ng-click="logout()">
                            <md-icon md-font-set="fa fa-lg fa-fw fa-sign-out"></md-icon>
                            Logout
                        </md-button>
                    </md-menu-item>

                </md-menu-content>
            </md-menu>
        </div>
    </md-toolbar>
</div>
