<div ng-include="'components/shell/shell.html'"></div>

<md-content ng-cloak ng-init="fnInit()">
    <md-toolbar class="md-whiteframe-2dp" style="background: #cdcdcd; color: #000;">
        <div class="md-toolbar-tools">
            <h2 ui-sref="main"><a href="javascript:void(0);">Medicines</a></h2>
            <span flex=""></span>

            <md-button class="md-fab md-mini md-primary" aria-label="Favorite" ng-click="fnShowAdvanced($event)">
                <md-tooltip md-direction="left">
                    Add Medicine
                </md-tooltip>
                <md-icon md-font-set="fa fa-2x fa-plus"></md-icon>
            </md-button>

        </div>
    </md-toolbar>

    <div layout="column" layout-fill>
        <md-content style="height: 500px;" md-theme="altTheme">
            <md-list-item ng-repeat="medicine in medicines" class="noright">
                <p>{{ medicine.name }}</p>
                <md-icon md-svg-icon="mdi:delete"  ng-click="fnDeleteMedicines(medicine._id)"  aria-label="delete" class="md-warn md-hue-3" ></md-icon>
                <md-icon md-svg-icon="mdi:pencil" class="md-primary" ng-click="fnShowAdvanced($event, medicine)" aria-label="Chat"></md-icon>
                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
        </md-content>
    </div>
</md-content>
