<md-dialog aria-label="Mango (Fruit)" flex="60">
    <form name="medicineForm" ng-submit="medicineForm.$valid && fnAddMedicine(medicine)" novalidate>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 ng-bind="medicine._id ? 'Update Medicine' : 'Add Medicine'"></h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="fnCloseDialog()" aria-label="close">
                    <ng-md-icon icon="close"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content layout="column" layout-padding>
                <md-input-container class="md-block m-t-20">
                    <label>Enter medicine name</label>
                    <input name="name" ng-model="medicine.name" required>
                    <div ng-messages="medicineForm.name.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Description</label>
                    <textarea ng-model="medicine.info" md-maxlength="200" rows="3" md-select-on-focus></textarea>
                </md-input-container>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button type="submit" class="md-raised md-primary"><span ng-bind="medicine._id ? 'Update' : 'Add'"></span></md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
